@import "_variables.scss";

.container {
  display: flex;
  flex-direction: column;
  @include centerTextInBox;
}
.box {
  width: $width-box;
  height: $height-box;
  border: $border-box;
  border-radius: $border-radius-box;
  margin-bottom: $margin-box;
  @include centerTextInBox;
}
