/*Base Variables*/
$width-box: 300px;
$height-box: 100px;
$margin-box: 2px;
$border-radius-box: 40px 10px;
$border-box: solid 2px black;

/*Themes*/
$font-size-ppal: 30px;
$font-size-box: 20px;
$border-radius-shadow: 10px;
