@import url("https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap");
body {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins";
}
.grid-container {
  display: grid;
  grid-template-rows: 1fr 1fr 0.15fr auto;
  border: solid 2px black;
  width: 20%;
  margin: 0px 15px;
}
.image {
  background-image: url(../ejercicio_4/images/summer.jpg);
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
}
.image:hover {
  transform: translatey(-5px) translatex(-5px) scale(1.15);
}
.text {
  margin: 10px 10px;
}
.published {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  margin: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
span {
  color: #3f37c9;
  margin-left: 5px;
}

.button-info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: 10px;
  color: white;
  background-color: #4cc9f0;
}
.button-info:hover {
  background-color: #4361ee;
}
